[Unit]
Description=FastAPI Gunicorn Dedicated Backend Service for HR Portal
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/HR_RIS/backend
EnvironmentFile=/var/www/HR_RIS/backend/.env
ExecStart=/var/www/HR_RIS/backend/venv/bin/gunicorn \
    --workers 8 \
    --worker-class uvicorn.workers.UvicornWorker \
    --bind 127.0.0.1:8005 \
    --timeout 120 \
    --access-logfile /var/www/HR_RIS/backend/access.log \
    --error-logfile /var/www/HR_RIS/backend/error.log \
    main:app

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
